.scrolbar-none::-webkit-scrollbar{
    display: none;
}

.auth-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 20px;
  background: #111;
  color: white;
  border-radius: 8px;
}

.auth-container input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
